.itemHand{
    -fx-border-color: black;
}

.playerImg{
    -fx-border-color: black;
}

.stage-label{
    -fx-background-color:#D3D3D3 ;
    -fx-alignment:center;
    -fx-border-color: grey;
    -fx-font-weight:bold;
}

#nextStageBtn{
    -fx-border-color:grey;
    -fx-background-color:#D3D3D3 ;
}

#nextStageBtn:hover{
    -fx-background-color:#e3e3e3 ;
}

.containerBoard{
    -fx-border-color:black;
    -fx-background-color:#bbbbbb;
}

#nextStageBtn:pressed{
    -fx-background-color:#c3c3c3 ;
}

.backgroundBtnActive{
    -fx-background-color:#FFC300;
}

.boardIdLabel{
    -fx-font-weight:bold;
    -fx-font-size:20;
    -fx-alignment:center;
}

#cardAttribute{
    -fx-border-color:black;
    -fx-background-color:#D3D3D3;
}

#cardDescription{
    -fx-border-color:black;
    -fx-background-color:#D3D3D3;
}

#deckNum{
    -fx-border-color:black;
    -fx-background-color:#D3D3D3;
}

#manaNum{
    -fx-border-color:black;
    -fx-background-color:#D3D3D3;
}

.containerHand{
    -fx-border-color:black;
    -fx-background-color:#bbbbbb;
}

.background{
    -fx-content: "";
    -fx-background-image:url('file:src/main/resources/com/gui/mainguiwindow/image/background.jpg');
    -fx-background-size: cover;                      /* <------ */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-opacity: 0.9;
}